@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    font-family: "Inter", sans-serif;
    width: 75%;
    margin: 0 auto;
}

main,header,footer{
    background-color: black;
    padding-bottom: 50px;
}


.home-button{
    color: white;
    padding: 8px 20px;
    border-radius: 42px;
    font-size: 1rem;
    background: rgb(231, 63, 37);
    border: none;
    margin-right: 30px;
}

button{
    color: white;
    padding: 16px 70px;
    border-radius: 42px;
    font-size: 1rem;
    background: rgb(231, 71, 47);
    border: none;
    margin-right: 30px;
}

.normal-button{
    color: white;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 1rem;
    background: transparent;
    border: 1px solid white;
    margin-right: 30px;
}






/* nav style start */
header{
    background: linear-gradient(180.00deg, rgb(73, 73, 73) 0%,rgba(0, 0, 0, 0.959) 100%);
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.branding{
    color: rgb(231, 68, 43);   
    font-size: 3rem;
    font-weight: 800;   
    margin-left: 150px; 
}

.nav-links{
    
}
.nav-links ul{
    display: flex;
    align-items: center;
    margin-right: 150px;
    border: 1px solid rgba(104, 102, 102, 0.247);
    border-radius: 40px;
 
}

ul li{
    list-style: none;

}
ul li a{
    text-decoration: none;
    color: black;
    padding: 30px;
    color: rgb(255, 255, 255);
}
.hamburger{
    display: none;
}

/* nav style end */









/* banner style start */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.bannertitle{
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;    
    padding-bottom: 40px;

}
.shape{
    font-family: 'Miama', sans-serif;
    font-weight: 500;
    font-size: 9rem;
    line-height: 2rem;
}

.bannerdescription{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 40px;
    line-height: 1.5rem;
}

.twobutton{
    display: flex;
}

.flotingcontent1{
    position: absolute;
    right: 50px;
    bottom: 400px;
    padding: 20px 30px;
    border-radius: 5px;
    color: white; 
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}
.flotingcontent1 h1{
    font-size: 2.5rem;
}
.flotingcontent1 p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.637);
}
.flotingcontent2{
    position: absolute;
    right: 350px;
    bottom: 100px;
    padding: 20px 30px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
.flotingcontent2 h1{
    font-size: 2rem;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #e9462d;
    border-radius: 50%;
    display: inline-block;
  }

/* banner style ends */



/* Habits style start */

.habits h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;   
    text-align: center; 
    padding-top: 50px;
}

.habits p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;   
    text-align: center; 
    padding-top: 20px;
}






.habitscard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;   
    margin: 50px auto;
    width: 80%;

}
.habitscard h3{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}
.habitscard p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400; 
    text-align: center;   
}

.four-people img{
    border-radius: 50%;
}
/* Habits style end */





/* runner style start */
.runner{
    width: 80%;
    display: flex;
    gap: 150px;
    border-radius: 18px;
    margin: 100px auto;
    background: rgb(34, 34, 34);
    align-items: center;
    justify-content: space-around;
}
.runner-content{
    padding-left: 40px;
    width: 40%;
}

.runner-content h1{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;   
    margin-bottom: 20px; 
}
.runner-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;   
    margin-bottom: 20px;  
}
.runnerimg {
    width: 40%;
}

.runnerimg img{
    width: 90%;
    margin: 30px 0px 30px;
    border-radius: 10px;
}

/* runner style start */



/* bmi table  style star*/
.bmititle{
    margin-left: 300px;
    color: white;

}
.bmititle h1{
    font-size: 3rem;

}
 
.bmititle p{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
}

.charttitle{
    margin-bottom: 20px;
}

.BMI-Calculator h1{
    margin: 10px 0px;

}
.BMI-Calculator p{
    margin: 10px 0px;
}




/* bmi table  ends star*/



/* challenge style start */

.challeng{
    color: white;
    background: rgb(34, 34, 34);
    margin: 50px auto;
    padding: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.charttitle{
    font-size: 1.8rem;
}


table{
    width: 300px;
    height: 200px;
}

table,th,td{
    border: 1px solid rgba(255, 255, 255, 0.123);
    border-collapse: collapse;
    padding: 7px;
}

td{
    color: rgba(255, 255, 255, 0.5);

}
.chart{
    padding: 40px;
}
input, select{
    background-color: rgb(68, 67, 67);
    width: 170px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 5px 10px 0px;
    outline: none;
    border: none;
    color: rgba(255, 255, 255, 0.5);
}
#full{
    width: 350px;
    height: 40px;
}
/* challenge style start */



/* our team style start */



.ourteam{
    text-align: center;
    color: white;
    margin: 0 auto;
    padding-bottom: 100px;
}

.ourteam h1{
    font-size: 3rem;

}
.ourteam p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 50px;
}

.trainer-section{
    width: 75%;
    margin: 0 auto;
    background: rgb(34, 34, 34);
    border-radius: 16px;

}
.trainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px;
    gap: 20px;
}

.trainer-info1{
    width: 313px;
    height: 272px;
    background-image: url(images/trainer1.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.trainer-info2{
    width: 313px;
    height: 272px;
    background-image: url(images/trainer2.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.trainer-info3{
    width: 313px;
    height: 272px;
    background-image: url(images/trainer3.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.trainer-info4{
    width: 313px;
    height: 272px;
    background-image: url(images/trainer4.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}


.trainer-info5{
    width: 313px;
    height: 272px;
    background-image: url(images/trainer5.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}


.trainer-info6{
    width: 313px;
    height: 272px;
    background-image: url(images/trainer6.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}


.info{
    padding-top: 220px;
    padding-left: 10px;
    color: white;
}
/* our team style ends */



/* challange2 style start  */
.challeng2{
    width: 100%;
    margin: 0 auto;
    color: white;
    background-color: #e9462d;
    padding: 50px;
    margin-bottom: 50px;

}
.quotes{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}
.challeng2h1{
    font-size: 3rem;
    padding: 40px;
    text-align: center;
}
.challeng2p{
    padding-bottom: 50px;
    font-size: 2rem;
    text-align: center;
}
.ads{
    display: flex;
    justify-content: space-around;
}
.ads-card{
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    transition: 1s;

}
.ads div:hover{
    background-color: white;
    color: #e9462d;
    width: 320px;
    height: 320px;
}
.ads-card h2{
    text-align: center;
    padding-top: 30px;
}
.ads-card p{
    text-align: center;
    padding-top: 30px;
}
.ads-card h1{
    text-align: center;
    font-size: 2.5rem;
}
.registerlink{
    cursor: pointer;
    text-decoration:underline;
}
/* challange2 style ends  */


/* footer section start */

footer{
    width: 100%;
    background: rgb(34, 34, 34);
}

.footerdivs{
    display: flex;
    gap: 60px;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    justify-content: space-between;
}

.fitness{
    color: rgb(235, 64, 38);
    font-size: 70px;
    font-weight: 800; 
}



.footerone{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    width: 50%;
}

.footertwo{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.footerthree{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.footertwo h3, .footerthree h3{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 20px;
    
}
.footerone p,.footertwo p, .footerthree p{
    padding-top: 20px;
    font-size: 1.5rem;
}

hr{
    width: 80%;
    margin: 50px auto;
    border: 1px solid rgba(255, 255, 255, 0.274);
}

.copyright{
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 50px;
    color: rgba(255, 255, 255, 0.5);
}


@media  screen and (max-width:576px) {
   
    body{
        width:100%
    }
    .branding{
        margin: 10px;
    }
    .nav-links{
        display: none;
    }
    .hamburger{
        display: block;
        margin-right: 10px;
        color: white;
        font-size: 1.5rem;
    }



    /* banner style start */

    .banner{
        flex-direction: column;
    }
    .bannertitle{
        color: rgb(255, 255, 255);
        font-size: 2.8rem;
        font-weight: 700;  
        padding: 40px 10px;  
    }
    .bannerdescription{
        color: rgba(255, 255, 255, 0.5);
        font-size: 1rem;
        font-weight: 400;
        padding-bottom: 40px;
        line-height: 1.5rem;
        padding-left: 10px;
    }
    .shape{
        font-family: 'Miama', sans-serif;
        font-weight: 500;
        font-size: 5rem;
        line-height: 1rem;
    }

    .flotingcontent2{
        position: absolute;
        right: 200px;
        bottom: 200px;
        padding: 15px 20px;
        background-color:rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        gap: 10px;
        
    }
    .flotingcontent1{
        right: 10px;
        bottom: 400px;
        padding: 15px 20px;
        background-color:rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        color: white;    
    
    }
    .twobutton{
        justify-content: space-around;
        margin-left: 25px;
     
    }

    /* banner style end */


    /* habits style start */
    .habits h1{
        color: rgb(255, 255, 255);
        font-size: 2rem;
        font-weight: 700;   
        text-align: center; 
        padding-top: 100px;
    }

    .habits p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 1rem;
        font-weight: 400;   
        text-align: center; 
        padding: 30px 5px;
    }
    .habitscard{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }

    /* habits style start */





    /* runner style start */
    .runner{
        flex-direction: column;
        gap: 20px;
    }

    .runner-content{
        padding-left: 10px;
        width: 90%;
    
    }
    .runnerimg {
        width: 90%;
        border-radius: 10px;
    }
    
    .runnerimg img{
        width: 100%;   
    }
    

    /* runner style ends */


    /* challenge style start */
    .bmititle{
     margin: 20px;
     }


    .challeng{
        flex-direction: column;
    }

    .BMI-Calculator{
        margin: 0 10px;
    }    

    
    /* challenge style ends */



    /* tainers style start */
    .trainer{
        grid-template-columns: repeat(1, 1fr);
        padding: 12px;
    }
    .trainer-section{
        width: 85%;

    }
    .trainer-info1,
    .trainer-info2,
    .trainer-info3,
    .trainer-info4,
    .trainer-info5,
    .trainer-info6{
        width: 90%;
        margin: 10px auto;
    }
    

    /* tainers ends start */


    .challeng2{
        width: 100%;
        margin: 0 auto;
        color: white;
        background-color: #e9462d;
        margin-bottom: 50px;

    }
    .ads{
        display: flex;
        flex-direction: column;
        gap: 50px;
    
    }
    /* footer style start */
    
    .footerdivs{
        flex-direction: column;
        gap: 70px;
    }
}
   